.app {
  text-align: center;
}

.mainScreen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigator {
  background-color: rgb(245, 247, 255);
  display: flex;
  flex: 16.6;
}

.header {
  background-color: #0011ff2f;
  display: flex;
  flex: 1;
  font-size: calc(10px + 2vmin);
}

.loginWindow {
  position: fixed; top: 40%; left: 50%;
  transform: translate(-50%, -50%);
  
}

.enterButton {
  background-color: hsl(226, 100%, 65%);
  border: none;
  color: white;
  cursor: pointer;
}

.escapeButton {
  position: absolute;
  right: 3%;
  background-color: hsl(226, 100%, 65%);
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 20px;
  cursor: pointer;
}

.fio {
  position: absolute;
  color: gray;
  padding: 10px 32px;
  font-size: 23px;
}

.fail {
  color: red;
}

.formRight {
  position: relative;
  left: 7px;
}